#centered_small_icon{
    background-size    : 40px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : blue;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
}
#green_line{
    background-position: center;
    background-color   : green;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    height: 300px;
}
#full_width_icon{
    background-size    : 500px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : red;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    height: 300px;
}
#repeated_icon{
    background-size    : 40px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : purple;
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    height: 300px;
}