#figure1{
    margin: 0px;
    padding: 5px;
    border: solid black 1px;
    height: 200px;
    width: 200px;
}
#figure2{
    margin: 0px;
    padding: 5px;
    border: solid black 5px;
    height: 30px;
    width: 1325px;
}
#figure3{
    margin: 20px;
    padding: 5px;
    border: solid fuchsia 1px;
    height: 20px;
    width: 1300px;
}
#figure4{
    margin: 0px;
    padding: 5px;
    border: solid peru 1px;
    border-radius: 10px;
    height: 60px;
    width: 650px;
}
#figure5{
    margin: 0px;
    padding-top: 3px;
    padding-left: 50px;
    border: solid black 1px;
    height: 26px;
    width: 1325px;
}
#figure6{
    margin-left: 50px;
    padding: 5px;
    border: solid black 1px;
    height: 20px;
    width: 1325px;
}
#figure7{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    border: solid black 3px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}