main{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background-color: lightblue;
    margin: 10px;
    display: flex;
    padding: 10px;
}
#first{
    justify-content: space-between;
}
#second .b1, #second .b2, #second .b3{
    padding-top: 10px;
}
#second{
    flex-direction: column-reverse;
}
#third{
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#forth .button{
    background-color: lightgreen;
    margin: 10px;
}
#forth .b2{
    flex-grow: 2;
}
#forth .b3{
    order:-1;
}