h1{
    color: white;
}
header{
    background-color: black;
    padding: 50px;
    margin-bottom: 10px;
}
a{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
}
#imatges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#imatges div{
    padding: 20px;
}
body{
    margin: 0px;
}
@media (max-width: 800px) {
    header{
        text-align: center;
    }
    nav{
       display: flex;
        flex-direction: column;
    }
}