nav{
    background-color: deepskyblue;
    grid-area: header;
    text-align: center;
}
#logo{
    background-color: red;
    grid-area: main;
    text-align: center;
}
#content{
    background-color: orange;
    grid-area: sidebar;
    text-align: center;
}
div footer{
    background-color: limegreen;
    grid-area: footer;
    text-align: center;
}
#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 320px 80px;
    grid-template-areas:
            "header main sidebar sidebar"
            "header main sidebar sidebar"
            "header footer footer footer";
}
@media (max-width: 800px) {
    #container{
        grid-template-rows: 100px 250px 100px;
        grid-template-areas:
                "header header header header"
                "main sidebar sidebar sidebar"
                "footer footer footer footer";
    }
}